


body {
  border: 2px solid black;
}


ul {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  
}

img{
  width: 75rem;
}
#contact >form > button{
  color: rgb(17, 0, 255);
  padding: 0.5rem;
  background: lightgray;
  border: 2px solid gray;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

#contact >form > button:hover {
  background-color: rgb(97, 96, 96);
  color: white;
}
#contact >form > input{
 margin-bottom: 50px;
}

#contact >form > input:hover{
  color: black(17, 0, 255);
  padding: 0.5rem;
  background: lightgray;
  border: 2px solid gray;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

#music {
  display: flex;
  text-transform: capitalize;
  text-shadow:
              1px 1px 2px black,
              0 0 1em rgb(63, 63, 162),
              0 0 0.2em rgb(5, 5, 59);
            color: white;
            font:
              1.5em Georgia,
              serif;
color: #c0c0c0;

}
#west:hover{
  color: #001B79;
  font-size: 1.5rem;
}
#contact{
  display: flex;
  justify-content: flex-start;
}



footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.grid-container {
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  width: 80%;
  margin: 0 auto;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

nav {

  display: flex;
  justify-content: space-between;
}
.nav-left {
  width: 100%;
  display: flex;
  align-items: center; 
}
.nav-right {
  width: 100%;
  display: flex;
  align-items: center; 
}
li{
  list-style: none;
}
a{
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color:#1640D6;
}
a:hover{
  color:#001B79;
  color: #c0c0c1;

  transition-property: background-color color;
  transition-duration: 2s;
  transition-delay: 0.5s;
}
a:active{
  color:#1640D6;
}